.blog-post-list-item-title {
    color: #672646;
    text-decoration: none;
    margin-bottom: .75rem;
}

.blog-post-list-item-date {
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: .25rem;
    font-size: .9rem;
}

.text-light {
    color: white;
}

.text-center {
    text-align: center;
}

.page-navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}

.page-navigation-button {
    background-color: #672646;
    color: white !important;
    padding: .5rem;
}

a {
    text-decoration: none;
    color: #672646;
    font-weight: bold;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}
