footer {
    background-color: #09080f;
    padding: 1.5rem 1rem;
}

.responsive-iframe {
    display: block;
    margin: 0 auto;
    height: 25vw;
    width: 25vw;
}

@media (max-width: 768px) {
    .responsive-iframe {
        display: block;
        margin: 0 auto;
        height: 75vw;
        width: 75vw;
    }
}

.footer-link-list {
    font-family: 'Nunito Sans', sans-serif;
}

.list-inline {
    display: block;
}

.list-inline li {
    display: inline-block;
    margin: 0;
}

.list-inline li:after {
    content: '|';
    margin: 0 15px;
}

.list-inline li:last-of-type:after {
    content: '';
    margin: 0
}