header {
  position: relative;
  background-image: url('./../images/lights.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #51012A;
  opacity: .8;
}

.header-content {
  position: relative;
  padding: 2.5rem 1rem;
}

.header-blog-title {
  position: relative;
  margin-bottom: .5rem;
}

.header-blog-description {
  font-size: 1.25rem;
}

.header-link {
  color: white;
  text-decoration: none;
}

.footer-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}