.layout-container {
  padding: 1.5rem 1rem;
}

.blog-post-list-item-header {
  background-color: rgb(207, 204, 186, 0.3);
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

.blog-post-list-item-link {
  border: 1px solid lightgray;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  width: fit-content;
  transition: background-color .5s;
}

.blog-post-list-item-link:hover {
  background-color: rgba(104, 39, 71, 0.15);
}

.blog-post-list-item {
  border: 1px solid rgb(207, 204, 186, 0.3);
  display: flex;
  margin-top: 1.5rem;
}

.blog-post-list-item-title {
  color: #672646;
  text-decoration: none;
  margin-bottom: .75rem;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
}

.blog-post-list-item-description {
  margin-bottom: .75rem;
}

.blog-post-list-item-image {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 750px) {
  .blog-post-list-item-image {
    height: 30vh;
  }
  .w-100-nl {
    width: 100% !important;
  }
  .blog-post-container {
    padding: 1.5rem 1rem;
  }
  .blog-post-list-item {
    flex-direction: column;
  }
}