.song-obsession-container {
    background-color: #24223C;
    position: relative;
    background-image: url('./../images/lights.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.song-obsession-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.song-obsession-container:nth-of-type(2n + 1)::before {
    background-color: #24223C;
}

.song-obsession-container:nth-of-type(2n)::before {
    background-color: #672646;
}

.song-obsession-content {
    position: relative;
    padding: 1.5rem 1rem;
}
